apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: sentiment-service-monitor
  labels:
    app: sentiment-analyzer-app
    release: prometheus
spec:
  selector:
    matchLabels:
      app: sentiment-analyzer-app
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
      scrapeTimeout: 10s